.third__section {
	background-color: $pinkLight;
	padding: 144px 0 112px;

	@media (max-width: $laptop-sm) {
		padding: 100px 0 80px;
	}
	@media (max-width: $tablet) {
		padding: 80px 0 60px;
	}
	@media (max-width: $mobileL) {
		padding: 70px 0 48px;
	}
	@media (max-width: $mobile) {
		padding: 64px 0 48px;
	}

	.container {
		@include flex-row;
		justify-content: space-between;

		@media (max-width: $laptop-sm) {
			@include flex-column;
			align-items: center;
		}
	}
}

// ======== image ========
.third__image {
	max-width: 570px;
	width: 100%;

	border-radius: 3px;
	background: $gradient;

	@media (max-width: $laptop-sm) {
		margin-bottom: 48px;
	}
	@media (max-width: $tablet) {
		align-self: center;
	}
	@media (max-width: $mobileM) {
		align-self: flex-start;
		max-width: 87vw;
	}

	img {
		border-radius: 3px;
		box-shadow: $shadow;

		position: relative;
		bottom: 30px;
		left: 30px;

		@media (max-width: $tablet) {
			max-width: 100%;
			bottom: 17px;
			left: 17px;
		}
	}
}

// ======== description ========
.third__description {
	max-width: 470px;
	width: 100%;

	.third__title {
		@include h2-style;
		margin-bottom: 23px;
	}

	.third__suptext {
		@include text-style($secondaryFontSemiBold);
		color: $black;
		margin-bottom: 10px;
	}

	.third__subtext {
		@include text-style($secondaryFontRegular);
		color: rgba($black, 0.5);
		margin-bottom: 36px;
	}

	// ======== stats ========
	.third__stats {
		@include flex-row;
		margin-bottom: 40px;

		.stats__title {
			@include h3-style;
			margin-bottom: 2px;
		}

		.stats__text {
			@include small-text-style;
		}

		&-left {
			margin-right: 118px;
		}
	}

	// ======== button ========
	.third__button {
		button {
			@include text-style($secondaryFontBold);
			color: $white;

			border-radius: 24px;
			background-color: $pinkDark;
			transition: 0.2s linear;

			padding: 12px 54px;

			&:hover {
				@include button-animation;
				box-shadow: 0 0 5px $yellow;
				border-color: $yellow;
				background-color: $yellow;
			}
			&:active {
				transition: 0s ease 0s;
				background-color: $white;
				color: $yellow;
			}
		}
	}
}
