.fourth__section {
	.container {
		@include flex-row;
		justify-content: space-between;

		@media (max-width: $laptop-sm) {
			@include flex-column;
			align-items: center;
		}
	}
}

.fourth__content {
	max-width: 590px;
	width: 100%;
	padding-top: 103px;

	@media (max-width: $laptop-sm) {
		padding-top: 50px;
	}
	@media (max-width: $mobileL) {
		padding-top: 32px;
	}
}

// ========= description ===========
.fourth__content-description {
	@include flex-column;

	@media (max-width: $laptop-sm) {
		text-align: center;
	}
	@media (max-width: $mobileM) {
		text-align: left;
	}

	&__title {
		@include h2-style;
		margin-bottom: 23px;
	}

	&__text {
		@include text-style($secondaryFontSemiBold);
		color: $black;
		margin-bottom: 54px;
	}
}

// ========= stats ===========
.fourth__content-stats {
	@include flex-row;
	flex-wrap: wrap;

	@media (max-width: $laptop-sm) {
		text-align: center;
	}

	.fourth__content-stat {
		flex-basis: 50%;
		margin-bottom: 32px;
		padding-right: 30px;

		@media (max-width: $mobile) {
			flex-basis: 100%;
			text-align: left;
			padding-right: 40px;
		}

		img {
			margin-bottom: 7px;
		}

		&__title {
			@include h4-style;
			margin-bottom: 9px;
		}

		&__text {
			@include text-style($secondaryFontRegular);
			color: rgba($black, 0.5);
		}
	}
}
// ========= image ===========
.fourth__image {
	@media (max-width: $tablet) {
		transform: scale(0.8);
		margin-top: -100px;
	}
}
