.fifth__section {
	background-color: $pinkLight;
	padding: 55px 0 112px;

	.container {
		@include flex-column;
	}
}

.fifth__description {
	@include flex-column;
	align-items: center;
	text-align: center;

	margin-bottom: 48px;

	.fifth__title {
		@include h2-style;
		margin-bottom: 23px;
	}

	.fifth__text {
		@include text-style($secondaryFontSemiBold);
		color: $black;

		max-width: 570px;
		width: 100%;
	}
}

.fifth__cards {
	@include flex-row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fifth__card {
	flex-basis: 370px;
	text-align: center;

	box-shadow: $shadow;
	border-radius: 3px;
	background: $white;
	transition: 0.2s linear;

	padding: 53px 105px 48px;

	.fifth__card-body {
		&__title {
			@include h4-style;
			margin-bottom: 7px;
			transition: color 0.2s linear;
		}

		&__price {
			@include h1-style;
			color: $black;
			transition: color 0.2s linear;

			margin-bottom: 26px;
		}

		&__list {
			@include text-style($secondaryFontRegular);
			color: rgba($black, 0.5);
			transition: color 0.2s linear;

			margin-bottom: 42px;
		}

		&__button {
			button {
				@include text-style($secondaryFontBold);
				color: $pinkDark;

				border: 1px solid $pinkDark;
				border-radius: 24px;
				transition: 0.2s linear;

				padding: 12px 48px;

				&:hover {
					@include button-animation;
				}
			}
		}
	}

	&:hover {
		background-image: $gradient;
		box-shadow: $shadow-hover;

		.fifth__card-body__title,
		.fifth__card-body__price {
			color: $white;
		}

		.fifth__card-body__list {
			color: rgba($white, 0.5);
		}

		button {
			background-color: $yellow;
			color: $white;
		}
	}
}
