.fifth__section {
	background-color: $pinkLight;
	padding: 55px 0 90px;

	@media (max-width: $laptop-sm) {
		padding: 55px 0 70px;
		margin-top: -70px;
	}
	@media (max-width: $tablet) {
		padding: 50px 0 30px;
	}
	@media (max-width: $mobileL) {
		padding: 38px 0 30px;
		margin-top: -80px;
	}
	@media (max-width: $mobileM) {
		padding: 32px 0 28px;
		margin-top: -90px;
	}

	.container {
		@include flex-column;
	}
}

.fifth__description {
	@include flex-column;
	align-items: center;
	text-align: center;

	margin-bottom: 48px;

	.fifth__title {
		@include h2-style;
		margin-bottom: 23px;
	}

	.fifth__text {
		@include text-style($secondaryFontSemiBold);
		color: $black;

		max-width: 570px;
		width: 100%;
	}

	button {
		display: none;

		@include text-style($secondaryFontBold);
		color: $pinkDark;

		border: 1px solid $pinkDark;
		border-radius: 24px;
		transition: 0.2s linear;

		padding: 12px 62px;
		margin-top: 26px;

		@media (max-width: $laptop-sm) {
			display: block;
		}
		@media (max-width: $mobileM) {
			display: none;
		}

		&:hover {
			@include button-animation;
			color: $white;

			border-color: $yellow;
			box-shadow: 0 0 5px $yellow;
			background-color: $yellow;
		}
	}
}

.fifth__cards {
	@include flex-row;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (max-width: $laptop-sm) {
		justify-content: space-evenly;
	}
}

.fifth__card {
	flex-basis: 370px;
	text-align: center;

	box-shadow: $shadow;
	border-radius: 3px;
	background: $white;
	transition: 0.2s linear;

	padding: 53px 105px 48px;

	@media (max-width: $tablet) {
		margin-bottom: 30px;
	}
	@media (max-width: $mobileL) {
		flex-basis: 60%;
		margin-bottom: 24px;
	}
	@media (max-width: $mobileM) {
		flex-basis: 100%;
		padding: 53px 0 48px;
		margin-bottom: 18px;
	}

	&:last-child {
		@media (max-width: $laptop-sm) {
			display: none;
		}
		@media (max-width: $mobileM) {
			display: block;
		}
	}

	.fifth__card-body {
		&__title {
			@include h4-style;
			margin-bottom: 7px;
			transition: color 0.2s linear;
		}

		&__price {
			@include h1-style;
			color: $black;
			transition: color 0.2s linear;

			margin-bottom: 26px;
		}

		&__list {
			@include text-style($secondaryFontRegular);
			color: rgba($black, 0.5);
			transition: color 0.2s linear;

			margin-bottom: 42px;
		}

		&__button {
			button {
				@include text-style($secondaryFontBold);
				color: $pinkDark;

				border: 1px solid $pinkDark;
				border-radius: 24px;
				transition: 0.2s linear;

				padding: 12px 48px;

				&:hover {
					@include button-animation;
				}
			}
		}
	}

	&:hover {
		background-image: $gradient;
		box-shadow: $shadow-hover;

		.fifth__card-body__title,
		.fifth__card-body__price {
			color: $white;
		}

		.fifth__card-body__list {
			color: rgba($white, 0.5);
		}

		button {
			background-color: $yellow;
			color: $white;
		}
	}
}
