.eighth__section {
	padding: 144px 0 112px;

	@media (max-width: $laptop-sm) {
		padding: 100px 0 80px;
	}
	@media (max-width: $tablet) {
		padding: 70px 0 50px;
	}
	@media (max-width: $mobileL) {
		padding: 62px 0 40px;
	}
	@media (max-width: $mobileM) {
		padding: 60px 0 38px;
	}

	.container {
		@include flex-row;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width: $laptop-sm) {
			@include flex-column;
			align-items: center;
		}
	}
}

.eighth__image {
	max-width: 570px;
	width: 100%;

	border-radius: 3px;
	background: $gradient;

	@media (max-width: $laptop-sm) {
		margin-bottom: 48px;
	}
	@media (max-width: $tablet) {
		align-self: center;
	}
	@media (max-width: $mobileM) {
		align-self: flex-start;
		max-width: 87vw;
	}

	img {
		border-radius: 3px;
		box-shadow: $shadow;

		position: relative;
		bottom: 30px;
		left: 30px;

		@media (max-width: $tablet) {
			width: 100%;
			bottom: 17px;
			left: 17px;
		}
	}
}

.eighth__description {
	max-width: 470px;
	width: 100%;

	.eighth__title {
		@include h2-style;
		margin-bottom: 23px;
	}

	.eighth__suptext {
		@include text-style($secondaryFontSemiBold);
		color: $black;
		margin-bottom: 10px;
	}

	.eighth__subtext {
		@include text-style($secondaryFontRegular);
		color: rgba($black, 0.5);
		margin-bottom: 38px;
	}

	// ======== form ========
	.eighth__form {
		@include flex-row;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 16px;

		@media (max-width: $mobileM) {
			@include flex-column;
			align-items: flex-start;
		}

		.eight__email {
			@include text-style($secondaryFontRegular);
			color: rgba($black, 0.5);

			width: 270px;
			border-radius: 3px;
			border: 1px solid #dadada;

			padding: 12px 16px;

			@media (max-width: $mobileM) {
				display: block;
				min-width: 377px;
				margin-bottom: 16px;
			}
			@media (max-width: $mobile) {
				display: block;
				min-width: 350px;
				margin-bottom: 16px;
			}

			&:focus {
				box-shadow: $shadow-hover;
			}
		}
	}

	// ======== button ========
	.eighth__button {
		button {
			@include text-style($secondaryFontBold);
			color: $white;

			border-radius: 24px;
			background-color: $pinkDark;
			transition: 0.2s linear;

			padding: 12px 54px;

			&:hover {
				@include button-animation;
				box-shadow: 0 0 5px $yellow;
				border-color: $yellow;
				background-color: $yellow;
			}
		}
	}

	.eighth__credits {
		@include small-text-style;
		color: $black;
	}
}
