.ninth__section {
	background-color: $pinkLight;
	padding: 55px 0 96px;

	@media (max-width: $laptop-sm) {
		padding: 50px 0 30px;
	}
	@media (max-width: $tablet) {
		padding: 42px 0 22px;
	}
	@media (max-width: $mobileL) {
		padding: 38px 0 20px;
	}
	@media (max-width: $mobileM) {
		padding: 28px 0 10px;
	}

	.container {
		@media (max-width: $laptop-sm) {
			@include flex-column;
		}

		button {
			display: none;

			margin: 0 auto;
			@include text-style($secondaryFontBold);
			color: $pinkDark;

			border: 1px solid $pinkDark;
			border-radius: 24px;
			transition: 0.2s linear;

			padding: 12px 62px;
			margin-bottom: 57px;

			@media (max-width: $laptop-sm) {
				display: block;
			}
			@media (max-width: $mobileM) {
				display: none;
			}

			&:hover {
				@include button-animation;
				color: $white;

				border-color: $yellow;
				box-shadow: 0 0 5px $yellow;
				background-color: $yellow;
			}
			&:active {
				transition: 0s ease 0s;
				background-color: $white;
				color: $yellow;
			}
		}
	}
}

.ninth__title {
	@include h2-style;
	margin-bottom: 27px;

	@media (max-width: $laptop-sm) {
		text-align: center;
	}
	@media (max-width: $mobileL) {
		margin-bottom: 22px;
	}
	@media (max-width: $mobileM) {
		margin-bottom: 28px;
	}
}

.ninth__cards {
	@include flex-row;
	flex-wrap: wrap;
	justify-content: space-between;

	@media (max-width: $laptop-sm) {
		justify-content: space-evenly;
	}

	.ninth__card {
		max-width: 370px;
		width: 100%;

		box-shadow: $shadow;
		background-color: $white;
		transition: 0.2s linear;

		img {
			width: 100%;
		}

		&:first-child {
			@media (max-width: $laptop-sm) {
				display: none;
			}
			@media (max-width: $mobileM) {
				display: block;
			}
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 50px;
		}
		@media (max-width: $mobileL) {
			margin-bottom: 30px;
		}
		@media (max-width: $mobileM) {
			margin-bottom: 18px;
		}

		&:hover {
			box-shadow: $shadow-hover;
		}

		&-container {
			padding: 32px 32px 50px;
		}

		&-date {
			@include small-text-style;
		}

		&-title {
			@include h4-style;
			margin-top: 15px;
			margin-bottom: 25px;
			padding-right: 20px;
		}

		&-text {
			@include text-style($secondaryFontRegular);
			color: rgba($black, 0.5);
		}
	}
}
