.eighth__section {
	padding: 144px 0 112px;

	.container {
		@include flex-row;
		justify-content: space-between;
	}
}

.eighth__image {
	max-width: 570px;
	min-height: 512px;
	width: 100%;

	border-radius: 3px;
	background: $gradient;

	img {
		border-radius: 3px;

		position: relative;
		bottom: 30px;
		left: 30px;
	}
}

.eighth__description {
	max-width: 470px;

	.eighth__title {
		@include h2-style;
		margin-bottom: 23px;
	}

	.eighth__suptext {
		@include text-style($secondaryFontSemiBold);
		color: $black;
		margin-bottom: 6px;
	}

	.eighth__subtext {
		@include text-style($secondaryFontRegular);
		color: rgba($black, 0.5);
		margin-bottom: 38px;
	}

	// ======== form ========
	.eighth__form {
		@include flex-row;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 16px;

		.eight__email {
			@include text-style($secondaryFontRegular);
			color: rgba($black, 0.5);

			width: 270px;

			border-radius: 3px;
			border: 1px solid #dadada;

			padding: 12px 16px;

			&:focus {
				outline: none;
				box-shadow: $shadow;
			}
		}
	}

	// ======== button ========
	.eighth__button {
		button {
			@include text-style($secondaryFontBold);
			color: $white;

			border-radius: 24px;
			background-color: $pinkDark;
			transition: 0.2s linear;

			padding: 12px 54px;

			&:hover {
				border-color: $yellow;
				background-color: $yellow;
			}
		}
	}

	.eighth__credits {
		@include small-text-style;
		color: $black;
	}
}
