@font-face {
	font-family: Poppins Bold;
	font-display: auto;
	src: local("Poppins Bold"), url("../font/Poppins-Bold.woff2");
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro Regular;
	font-display: auto;
	src: local("Source Sans Pro Regular"), url("../font/SourceSansPro-Regular.woff2");
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro Semi Bold;
	font-display: auto;
	src: local("Source Sans Pro Semi Bold"), url("../font/SourceSansPro-SemiBold.woff2");
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro Bold;
	font-display: auto;
	src: local("Source Sans Pro Bold"), url("../font/SourceSansPro-Bold.woff2");
	font-style: normal;
}
