.footer {
	background-color: $pinkLight;
}

.footer__description-title,
.footer__works,
.footer__contacts,
.footer__subscribe-title {
	@include text-style($secondaryFontSemiBold);
}

// ========== social ============
.footer__social {
	@include flex-row;
	justify-content: space-between;
	padding: 62px 0;

	li,
	.footer__description-text {
		@include text-style($secondaryFontRegular);
		color: rgba($black, 0.5);
	}

	li:not(:last-child) {
		margin-bottom: 8px;
	}

	.footer__description {
		max-width: 238px;
		width: 100%;

		&-title {
			margin-bottom: 8px;
		}
	}

	.footer__works {
		max-width: 157px;
		width: 100%;

		&-work:first-child {
			margin-top: 8px;
		}
	}

	.footer__contacts {
		max-width: 191px;
		width: 100%;

		&-contact:first-child {
			margin-top: 8px;
		}
	}

	.footer__subscribe {
		&-title {
			margin-bottom: 8px;
		}

		input {
			@include text-style($secondaryFontRegular);
			color: rgba($black, 0.5);

			border-radius: 3px;
			border: 1px solid #dadada;

			padding: 12px 16px;
			margin-right: 8px;
		}

		&-form {
			@include flex-row;
		}

		&-form__image {
			@include flex-row;
			justify-content: center;
			align-items: center;

			width: 48px;
			height: 48px;

			border-radius: 50%;
			background-color: $pinkDark;
			transition: 0.2s linear;

			img {
				position: relative;
				left: 2px;
			}

			&:hover {
				box-shadow: 0 0 5px $yellow;
				background-color: $yellow;
			}
		}
	}
}

// ========== credits ============
.footer__credits {
	@include text-style($secondaryFontRegular);
	text-align: center;
	color: rgba($black, 0.5);

	border-top: 1px solid rgba($black, 0.1);

	padding: 30px 0;
}
