.header {
	background: rgba($violet, 0.8);
	box-shadow: $shadow-hover;

	position: relative;
	z-index: 2;

	.container {
		@include flex-row;
		justify-content: space-between;
		align-items: center;

		padding: 25px 15px;

		@media (max-width: $laptop-sm) {
			padding: 20px 15px;
		}
		@media (max-width: $tablet) {
			padding: 18px 15px;
		}
		@media (max-width: $mobileL) {
			padding: 10px 15px;
		}
	}
}

.header__logo {
	img {
		@media (max-width: $mobileL) {
			max-width: 80px;
		}
	}
}

.header__navbar {
	@include flex-row;

	// navigation links
	.nav__links {
		@include flex-row;

		@media (max-width: $tablet) {
			display: none;
		}

		.nav__link {
			@include text-style($secondaryFontSemiBold);
			color: $white;
			margin-right: 56px;

			position: relative;

			&:after {
				content: "";
				height: 3px;
				width: 0%;

				background-color: $white;
				transition: 0.2s ease;

				position: absolute;
				bottom: -1px;
				left: 0;
			}

			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}

	// navigation menu
	.nav__menu {
		@include flex-row;
	}
}
