.main {
	background: $gradient;

	.container {
		padding: 160px 0;
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.main__description {
	max-width: 570px;
	width: 100%;

	.main__title {
		@include h1-style;
		margin-bottom: 25px;
	}

	.main__text {
		@include text-style($secondaryFontSemiBold);
		color: $white;
		margin-bottom: 34px;
	}

	.main__button {
		button {
			@include text-style($primaryFontBold);
			color: $white;

			border-radius: 24px;
			background-color: $yellow;
			transition: 0.2s linear;

			padding: 14px 44px;

			&:hover {
				@include button-animation;
				box-shadow: 0 0 5px $yellow;
			}
		}
	}
}
