// ============ flex ============
@mixin flex-row {
	display: flex;
	flex-direction: row;
}
@mixin flex-column {
	display: flex;
	flex-direction: column;
}

// ============ text style ============
@mixin h1-style {
	font-family: $primaryFontBold;
	font-size: 72px;
	line-height: 72px;
	color: $white;

	@media (max-width: $laptop-sm) {
		font-size: 68px;
		line-height: 70px;
	}
	@media (max-width: $tablet) {
		font-size: 62px;
		line-height: 68px;
	}
	@media (max-width: $mobile) {
		font-size: 46px;
		line-height: 52px;
	}
}
@mixin h2-style {
	font-family: $primaryFontBold;
	font-size: 56px;
	line-height: 64px;
	color: $black;

	@media (max-width: $laptop-sm) {
		font-size: 52px;
		line-height: 58px;
	}
	@media (max-width: $tablet) {
		font-size: 46px;
		line-height: 52px;
	}
	@media (max-width: $mobile) {
		font-size: 40px;
		line-height: 48px;
	}
}
@mixin h3-style {
	font-family: $primaryFontBold;
	font-size: 40px;
	line-height: 48px;
	color: $black;
}
@mixin h4-style {
	font-family: $primaryFontBold;
	font-size: 24px;
	line-height: 32px;
	color: $black;
}
@mixin text-style($f) {
	font-family: $f;
	font-size: 16px;
	line-height: 24px;
}
@mixin small-text-style {
	font-family: $secondaryFontSemiBold;
	font-size: 12px;
	line-height: 24px;
	color: $black;
}

// ============ button animation ============
@keyframes button-rotate {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(2deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0);
	}
}

@mixin button-animation {
	animation-name: button-rotate;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
