* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	font-size: 1rem;
}

a,
a:hover,
a:active {
	color: initial;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button {
	font-family: inherit;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

input {
	font-family: inherit;
}

ul {
	list-style: none;
}
