@import "./reset.scss";
@import "./font.scss";
@import "./var.scss";
@import "./mixin.scss";
@import "./container.scss";

// ============ blocks ============
@import "./main-screen.scss";
@import "./header.scss";

@import "./second.scss";
