@import "./reset.scss";
@import "./font.scss";
@import "./var.scss";
@import "./mixin.scss";
@import "./container.scss";

// ============ blocks ============
@import "./main-screen.scss";
@import "./header.scss";

@import "./second.scss";

@import "./third.scss";

@import "./fourth.scss";

@import "./fifth.scss";

@import "./seventh.scss";

@import "./eighth.scss";

@import "./ninth.scss";

@import "./tenth.scss";
