// ======= config =========
@import "./var.scss";
@import "./reset.scss";
@import "./font.scss";
@import "./mixin.scss";
@import "./container.scss";

// ======= blocks =========
@import "./main.scss";
@import "./header.scss";

@import "./2nd.scss";

@import "./3rd.scss";

@import "./4th.scss";

@import "./5th.scss";

@import "./6th.scss";

@import "./7th.scss";

@import "./8th.scss";

@import "./9th.scss";

@import "./10th.scss";

@import "./footer.scss";
