// ============ fonts ============
$primaryFontBold: "Poppins Bold";

$secondaryFontRegular: "Source Sans Pro Regular";
$secondaryFontSemiBold: "Source Sans Pro Semi Bold";
$secondaryFontBold: "Source Sans Pro Bold";

// ============ colors ============
$pinkLight: #fdf2ff;
$pinkDark: #c86dd7;
$violet: #5a27a4;
$white: #fff;
$black: #333;
$yellow: #ffc300;

// ============ gradient ============
$gradient: linear-gradient(to left bottom, #3023ae 0%, #c86dd7 100%);

// ============ shadow ============
$shadow: 16px 16px 48px rgba(0, 0, 0, 0.15);
$shadow-hover: 16px 16px 48px rgba(0, 0, 0, 0.2);
